/* .input-field {
  width: 33% !important;
} */

.radio-buttons {
  display: flex;
  align-items: center;
}

.side-menu {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  height: 100vh;
  border-radius: 5px;
}
