.App {
  /* text-align: center; */
  max-width: 1920px;
  margin: 0 auto;
}

.App a {
  text-decoration: none;
  color: black;
}

.App a:hover {
  color: #6c757d;
}

* {
  font-family: "Rambla", sans-serif;
}

.App * {
  font-family: "Rambla", sans-serif;
}
